.slider {
  margin: 1.25rem auto;
  padding: 1rem;
  background-color: #f1f1f1f1;
  height: 400px;
}
.post {
  border-radius: 10px;
  background-color: #fff;
  width: 500px;
  height: 120px;
}
.carouselContent {
  display: flex;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-title {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  gap: 0.5rem;
}
