:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --border-content-color: #e4e4e4a3;
    --color-dark: #161616;
    --color-ocean: #416dea;
    --color-grass: #3dd28d;
    --hover-color-grass: #1e9b61;
    --color-snow: #ffffff;
    --color-salmon: #f32c52;
    --color-sun: #feee7d;
    --color-alge: #7999a9;
    --color-flower: #353866;
    --color-smoke: #e4e4e4;
}

body {
    font-family: "Montserrat", sans-serif;
}
input[type="text"] {
    padding-left: 0.5rem;
    outline: 0;
}
section {
    display: flex;
    flex-direction: column;
}
input[type="checkbox"] {
    transform: scale(1.2);
    margin-right: 0.5rem;
    cursor: pointer;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 650px;
}
@media (max-width: 768px) {
    .header {
        flex-direction: column;
    }
}
.star-poll-img-container {
    width: 40px;
}
.star-poll-img-container img {
    width: 100%;
    height: 100%;
}
.container {
    margin: 0 auto;
    padding: 20px;

    @media screen and (max-width: 768px) {
        width: 90%;
    }

    @media screen and (min-width: 769px) {
        width: 80%;
    }

    @media screen and (min-width: 1024px) {
        width: 80%;
    }
}
.title {
    text-align: center;
    font-weight: 600;
    font-size: 1.25rem;
    margin-bottom: 2.75rem;
}
@media (max-width: 768px) {
    .title {
        font-size: 1.25rem;
    }
}
.main-title {
    font-size: 1.75rem;
    text-transform: capitalize;
    font-weight: bold;
    margin-left: 1rem;
}
@media (max-width: 768px) {
    .main-title {
        font-size: 1.5rem;
    }
}
.reaction-icons {
    margin-top: 3rem;
}
.reaction-icons .container {
    display: flex;
    justify-content: space-around;
}
@media (max-width: 992px) {
    .reaction-icons .container {
        flex-wrap: wrap-reverse;
        gap: 30px;
    }
}
.content {
    margin-top: 1rem;
    border-radius: 5px;
    width: 650px;
    min-height: 350px;
    padding: 0.5rem;
    border: 2px solid var(--border-content-color);
}
@media (max-width: 768px) {
    .content {
        width: 100%;
    }
}
.intro {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.intro h1 {
    margin-right: 2.5rem;
}

.reaction-icons .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icons {
    width: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 105px;
}

.icons img {
    width: 100%;
    height: 100%;
}

.icon-input {
    height: 25px;
}

.bottom-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
@media (max-width: 768px) {
    .bottom-section {
        flex-direction: column;
        gap: 1.25rem;
    }
}

.poll-title-input {
    height: 30px;
}

.light-text {
    font-weight: 500;
}

.icon-holder {
    display: flex;
}

.poll-icon {
    display: flex;
    flex-direction: column;
}
.poll-icon div {
    max-width: 150px;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
.icon-holder img {
    width: 35px;
}
@media (max-width: 768px) {
    .icon-holder img {
        width: 38px;
    }
}
.icon-holder img.insight-img {
    width: 30px;
}

/* Arrow displayed in poll content */
.arrow-container {
    margin: 0.75rem 0;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 32px;
    align-items: center;
    color: #333;
}

.arrow {
    position: relative;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom-width: 20px;
    border-bottom-style: solid;
}

.leg {
    width: 5px;
    height: 50px;
}

.poll-icon {
    height: 85%;
    font-weight: 500;
    font-size: 1rem;
    min-width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.poll-content {
    height: 230px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}

.btn {
    cursor: pointer;
    padding: 0.5rem 1rem;
    width: 150px;
    outline: 0;
    border: 0;
}

.download {
    background-color: var(--color-grass);
    border-radius: 18px;
    color: #fff;
    transition: 0.5s;
}
.download:hover {
    background-color: var(--hover-color-grass);
}
/* Github button */
.star-github-img-container {
    width: 40px;
    transition: ease-in-out 0.25s;
    border-radius: 4px;
    padding: 0.2rem;
}
.star-github-img-container img {
    width: 100%;
}
.star-github-img-container:hover {
    background-color: rgb(237, 231, 231);
}
